xsd/dif10/dif_v10.0.0a.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/"
            xmlns="http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/"
            elementFormDefault="qualified">
    
    <xs:include schemaLocation="UmmCommon_0.1.xsd"/>

    <xs:element name="DIF">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Entry_ID"                     type="Entry_ID"                     minOccurs="1" maxOccurs="1"/>
                <xs:element name="Version"                      type="Version"                      minOccurs="1" maxOccurs="1"/>
                <xs:element name="Version_Description"          type="Version_Description"          minOccurs="1" maxOccurs="1"/>
                <xs:element name="Entry_Title"                  type="Entry_Title"                  minOccurs="1" maxOccurs="1"/>
                <xs:element name="Data_Set_Citation"            type="Data_Set_Citation"            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Personnel"                    type="Personnel"                    minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Discipline"                   type="Discipline"                   minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Science_Keywords"             type="Science_Keywords"             minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="ISO_Topic_Category"           type="ISO_Topic_Category"           minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Ancillary_Keyword"            type="Ancillary_Keyword"            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Platform"                     type="Platform"                     minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Temporal_Coverage"            type="Temporal_Coverage"            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Data_Set_Progress"            type="Data_Set_Progress"            minOccurs="0" maxOccurs="1"/>
                <xs:element name="Spatial_Coverage"             type="Spatial_Coverage"             minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Location"                     type="Location"                     minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Data_Resolution"              type="Data_Resolution"              minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Project"                      type="Project"                      minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Quality"                      type="Quality"                      minOccurs="0" maxOccurs="1"/>
                <xs:element name="Access_Constraints"           type="Access_Constraints"           minOccurs="0" maxOccurs="1"/>
                <xs:element name="Use_Constraints"              type="Use_Constraints"              minOccurs="0" maxOccurs="1"/>
                <xs:element name="Data_Set_Language"            type="Data_Set_Language"            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Originating_Center"           type="Originating_Center"           minOccurs="0" maxOccurs="1"/>
                <xs:element name="Organization"                 type="Organization"                 minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="Distribution"                 type="Distribution"                 minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Multimedia_Sample"            type="Multimedia_Sample"            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Reference"                    type="Reference"                    minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Summary"                      type="Summary"                      minOccurs="1" maxOccurs="1"/>
                <xs:element name="Related_URL"                  type="Related_URL"                  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Parent_DIF"                   type="Parent_DIF"                   minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="MetadataAssociation"          type="MetadataAssociation"          minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="IDN_Node"                     type="IDN_Node"                     minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Originating_Metadata_Node"    type="Originating_Metadata_Node"    minOccurs="0" maxOccurs="1"/>
                <xs:element name="Metadata_Name"                type="Metadata_Name"                minOccurs="1" maxOccurs="1"/>
                <xs:element name="Metadata_Version"             type="Metadata_Version"             minOccurs="1" maxOccurs="1"/>
                <xs:element name="DIF_Creation_Date"            type="DIF_Creation_Date"            minOccurs="0" maxOccurs="1"/>
                <xs:element name="Last_DIF_Revision_Date"       type="Last_DIF_Revision_Date"       minOccurs="0" maxOccurs="1"/>
                <xs:element name="DIF_Revision_History"         type="DIF_Revision_History"         minOccurs="0" maxOccurs="1"/>
                <xs:element name="Future_DIF_Review_Date"       type="Future_DIF_Review_Date"       minOccurs="0" maxOccurs="1"/>
                <xs:element name="Private"                      type="Private"                      minOccurs="0" maxOccurs="1"/>
                <xs:element name="Product_Specific_Attribute"   type="ProductSpecificAttribute"     minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Data_Provider_Timestamps"     type="DataProviderTimestamps"       minOccurs="0" maxOccurs="1"/>
                <xs:element name="Product_Level"                type="ProductLevelId"               minOccurs="0" maxOccurs="1"/>
                <xs:element name="Collection_DataType"          type="CollectionDataTypeEnum"       minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Product_Flag"                 type="ProductFlagEnum"              minOccurs="1" maxOccurs="1"/>
                <xs:element name="Extended_Metadata"            type="Extended_Metadata"            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Entry_ID">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Version">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Version_Description">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Entry_Title">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Data_Set_Citation">
        <xs:sequence>
            <xs:element name="Dataset_Creator"          type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dataset_Editor"           type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dataset_Title"            type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dataset_Series_Name"      type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dataset_Release_Date"     type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dataset_Release_Place"    type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dataset_Publisher"        type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Version"                  type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Issue_Identification"     type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Data_Presentation_Form"   type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Other_Citation_Details"   type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dataset_DOI"              type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Online_Resource"          type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Personnel">
        <xs:annotation>
            <xs:documentation>
                The Personnel field not for the Organization field  
                | Field | ECHO         |
                | ----- | ------------ |
                | Role  | Job_Position |
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Role"             type="Personnel_Role_Enum"        minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Contact_Person"   type="ContactPerson"    minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrgPersonnel">
        <xs:annotation>
            <xs:documentation>
                The Personnel field for the Organization field  
                | Field | ECHO         |
                | ----- | ------------ |
                | Role  | Job_Position |
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Role"             type="OrganizationPersonnelRoleEnum"        minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Contact_Person"   type="ContactPerson"    minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Address">
        <xs:sequence>
            <xs:element name="Street_Address"   type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="City"             type="xs:string" minOccurs="0"/>
            <xs:element name="State_Province"   type="xs:string" minOccurs="0"/>
            <xs:element name="Postal_Code"      type="xs:string" minOccurs="0"/>
            <xs:element name="Country"          type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Phone">
        <xs:sequence>
            <xs:element name="Number"   type="xs:string"/>
            <xs:element name="Type"     type="PhoneTypeEnum"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContactPerson">
        <xs:sequence>
            <xs:element name="First_Name"   type="xs:string"    minOccurs="0" />
            <xs:element name="Middle_Name"  type="xs:string"    minOccurs="0" />
            <xs:element name="Last_Name"    type="xs:string"    minOccurs="1" />
            <xs:element name="Address"      type="Address"      minOccurs="0" />
            <xs:element name="Phone"        type="Phone"        minOccurs="0"  maxOccurs="unbounded"/>
            <xs:element name="Email"        type="xs:string"    minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Discipline">
        <xs:sequence>
            <xs:element name="Discipline_Name"          type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Subdiscipline"            type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Detailed_Subdiscipline"   type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Science_Keywords">
        <xs:sequence>
            <xs:element name="Category"             type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Topic"                type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Term"                 type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Variable_Level_1"     type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Variable_Level_2"     type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Variable_Level_3"     type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Detailed_Variable"    type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ISO_Topic_Category">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="uuid" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="Ancillary_Keyword">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Platform">
        <xs:sequence>
            <xs:element name="Type"             type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="Short_Name"       type="xs:string"        minOccurs="1" maxOccurs="1"/>
            <xs:element name="Long_Name"        type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="Characteristics"  type="Characteristic"   minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Instrument"       type="Instrument"       minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Instrument">
        <xs:sequence>
            <xs:element name="Short_Name"       type="xs:string"        minOccurs="1" maxOccurs="1"/>
            <xs:element name="Long_Name"        type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="Technique"        type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="NumberOfSensors"  type="xs:int"           minOccurs="0" maxOccurs="1"/>
            <xs:element name="Characteristics"  type="Characteristic"   minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="OperationalMode"  type="xs:string"        minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Sensor"           type="Sensor"           minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Sensor">
        <xs:sequence>
            <xs:element name="Short_Name"       type="xs:string"        minOccurs="1" maxOccurs="1"/>
            <xs:element name="Long_Name"        type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="Technique"        type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="Characteristics"  type="Characteristic"   minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"/>
    </xs:complexType>


    <xs:complexType name="Characteristic">
        <xs:sequence>
            <xs:element name="Name"         type="xs:string"/>
            <xs:element name="Description"  type="xs:string"/>
            <xs:element name="DataType"     type="xs:string"/>
            <xs:element name="Unit"         type="xs:string"/>
            <xs:element name="Value"        type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Temporal_Coverage">
        <xs:sequence>
            <xs:element name="Time_Type"            type="xs:string"    minOccurs="0" />
            <xs:element name="Date_Type"            type="xs:string"    minOccurs="0" />
            <xs:element name="Temporal_Range_Type"  type="xs:string"    minOccurs="0" />
            <xs:element name="Precision_Of_Seconds" type="xs:int"       minOccurs="0" />
            <xs:element name="Ends_At_Present_Flag" type="xs:boolean"   minOccurs="0" />

            <xs:choice>
                <xs:element name="Range_DateTime"       type="RangeDateTime"    maxOccurs="unbounded"/>
                <xs:element name="Single_DateTime"      type="xs:dateTime"      maxOccurs="unbounded"/>
                <xs:element name="Periodic_DateTime"    type="PeriodicDateTime" maxOccurs="unbounded"/>
                <xs:element name="Paleo_DateTime"       type="Paleo_DateTime"   maxOccurs="unbounded"/>
            </xs:choice>

            <xs:element name="TemporalInfo" type="TemporalInfo" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PeriodicDateTime">
        <xs:sequence>
            <xs:element name="Name"                         type="xs:string"/>
            <xs:element name="Start_Date"                   type="xs:dateTime"/>
            <xs:element name="End_Date"                     type="xs:dateTime"/>
            <xs:element name="Duration_Unit"                type="DurationUnitEnum"/>
            <xs:element name="Duration_Value"               type="xs:int"/>
            <xs:element name="Period_Cycle_Duration_Unit"   type="DurationUnitEnum"/>
            <xs:element name="Period_Cycle_Duration_Value"  type="xs:int"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="RangeDateTime">
        <xs:sequence>
            <xs:element name="Beginning_Date_Time"  type="xs:dateTime"/>
            <xs:element name="Ending_Date_Time"     type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="TemporalInfo">
        <xs:sequence>
            <xs:element name="Ancillary_Temporal_Keyword"   type="xs:string"            minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Temporal_Resolution"          type="TemporalResolution"   minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TemporalResolution">
        <xs:sequence>
            <xs:element name="Duration" type="xs:string"/>
            <xs:element name="Unit" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Paleo_DateTime">
        <xs:sequence>
            <xs:element name="Paleo_Start_Date"         type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Paleo_Stop_Date"          type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Chronostratigraphic_Unit" type="Chronostratigraphic_Unit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Chronostratigraphic_Unit">
        <xs:sequence>
            <xs:element name="Eon"                      minOccurs="1" maxOccurs="1"/>
            <xs:element name="Era"                      minOccurs="0" maxOccurs="1"/>
            <xs:element name="Period"                   minOccurs="0" maxOccurs="1"/>
            <xs:element name="Epoch"                    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Stage"                    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Detailed_Classification"  minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="uuid"/>
    </xs:complexType>

    <xs:simpleType name="Data_Set_Progress">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Spatial_Coverage">
        <xs:sequence>
            <xs:element name="Spatial_Coverage_Type"            type="SpatialCoverageTypeEnum"  minOccurs="0"/>
            <xs:element name="Granule_Spatial_Representation"   type="GranuleSpatialRepresentationEnum"/>
            <xs:element name="Zone_Identifier"                  type="xs:string"                minOccurs="0" />
            <xs:element name="Geometry"                         type="Geometry"                 minOccurs="0"/>
            <xs:element name="Orbit_Parameters"                 type="OrbitParameters"          minOccurs="0" />
            <xs:element name="Vertical_Spatial_Info"            type="VerticalSpatialInfo"      minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Minimum_Altitude"                 type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Maximum_Altitude"                 type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Minimum_Depth"                    type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Maximum_Depth"                    type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Spatial_Info"                     type="SpatialInfo"              minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VerticalSpatialInfo">
        <xs:sequence>
            <xs:element name="Type" type="xs:string"/>
            <xs:element name="Value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Geometry">
        <xs:sequence>
            <xs:element name="Coordinate_System" type="CoordinateSystemEnum"/>
            <xs:choice>
                <xs:element name="Bounding_Rectangle"   type="BoundingRectangle"/>
                <xs:element name="Point"                type="Point"/>
                <xs:element name="Line"                 type="Line"/>
                <xs:element name="Polygon"              type="GPolygon"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Line">
        <xs:sequence>
            <xs:element name="Point"        type="Point" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="CenterPoint"  type="Point" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BoundingRectangle">
        <xs:sequence>
            <xs:element name="Center_Point"             type="Point"        minOccurs="0"/>
            <xs:element name="Southernmost_Latitude"    type="xs:string"    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Northernmost_Latitude"    type="xs:string"    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Westernmost_Longitude"    type="xs:string"    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Easternmost_Longitude"    type="xs:string"    minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SpatialInfo">
        <xs:sequence>
            <xs:element name="Spatial_Coverage_Type"        type="xs:string"/>
            <xs:element name="Vertical_Coordinate_System"   type="VerticalCoordinateSystem"     minOccurs="0"/>
            <xs:element name="Horizontal_Coordinate_System" type="HorizontalCoordinateSystem"   minOccurs="0"/>
            <xs:element name="TwoD_Coordinate_System"       type="TwoDCoordinateSystem"         minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TwoDCoordinateSystem">
        <xs:sequence>
            <xs:element name="TwoD_Coordinate_System_Name"  type="xs:string"/>
            <xs:element name="Coordinate1"                  type="TwoDCoordinate"/>
            <xs:element name="Coordinate2"                  type="TwoDCoordinate"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TwoDCoordinate">
        <xs:sequence>
            <xs:element name="Minimum_Value" minOccurs="0" type="xs:decimal"/>
            <xs:element name="Maximum_Value" minOccurs="0" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- todo, should both point to the same type? -->
    <xs:complexType name="VerticalCoordinateSystem">
        <xs:sequence>
            <xs:element name="Altitude_System_Definition"   type="VerticalSystemDefinition" minOccurs="0"/>
            <xs:element name="Depth_System_Definition"      type="VerticalSystemDefinition" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VerticalSystemDefinition">
        <xs:sequence>
            <xs:element name="Datum_Name" minOccurs="0"         type="xs:string"/>
            <xs:element name="Distance_Units" minOccurs="0"     type="xs:string"/>
            <xs:element name="Encoding_Method" minOccurs="0"    type="xs:string"/>
            <xs:element name="Resolution"                       type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HorizontalCoordinateSystem">
        <xs:sequence>
            <xs:element name="Geodetic_Model" type="GeodeticModel" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="Geographic_Coordinate_System" type="GeographicCoordinateSystem"/>
                <xs:element name="Planar_Coordinate_System"     type="PlanarCoordinateSystem"   minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Local_Coordinate_System"      type="LocalCoordinateSystem"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PlanarCoordinateSystem">
        <xs:sequence>
            <xs:element name="Planar_Coordinate_SystemId"       type="xs:string"/>
            <xs:element name="Planar_Coordinate_Information"    type="PlanarCoordinateInformation" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="Map_Projection"                   type="MapProjection"/>
                <xs:element name="Local_Planar_CoordinateSystem"    type="LocalCoordinateSystem"/>
                <xs:element name="Grid_Coordinate_System_Name"      type="xs:string"                minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PlanarCoordinateInformation">
        <xs:sequence>
            <xs:element name="Distance_Units"   type="xs:string" minOccurs="0"/>
            <xs:element name="Encoding_Method"  type="xs:string" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="Distance_And_Bearing_Representation"  type="DistanceAndBearingRepresentation"/>
                <xs:element name="Coordinate_Representation"            type="CoordinateRepresentation"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DistanceAndBearingRepresentation">
        <xs:sequence>
            <xs:element name="Distance_Resolution"          type="xs:decimal"   minOccurs="0"/>
            <xs:element name="Bearing_Resolution"           type="xs:decimal"   minOccurs="0"/>
            <xs:element name="Bearing_Units"                type="xs:string"    minOccurs="0"/>
            <xs:element name="Bearing_Reference_Direction"  type="xs:string"    minOccurs="0"/>
            <xs:element name="Bearing_Reference_Meridian"   type="xs:string"    minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CoordinateRepresentation">
        <xs:sequence>
            <xs:element name="Abscissa_Resolution" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Ordinate_Resolution" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MapProjection">
        <xs:sequence>
            <xs:element name="Map_Projection_Name"      type="xs:string" minOccurs="0"/>
            <xs:element name="Map_Projection_Pointer"   type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GeographicCoordinateSystem">
        <xs:sequence>
            <xs:element name="Geographic_Coordinate_Units"  type="xs:string"    minOccurs="0"/>
            <xs:element name="Latitude_Resolution"          type="xs:decimal"   minOccurs="0"/>
            <xs:element name="LongitudeResolution"          type="xs:decimal"   minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalCoordinateSystem">
        <xs:sequence>
            <xs:element name="Description"              type="xs:string" minOccurs="0"/>
            <xs:element name="GeoReference_Information" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GeodeticModel">
        <xs:sequence>
            <xs:element name="Horizontal_DatumName"             type="xs:string"    minOccurs="0"/>
            <xs:element name="Ellipsoid_Name"                   type="xs:string"    minOccurs="0"/>
            <xs:element name="Semi_Major_Axis"                  type="xs:decimal"   minOccurs="0"/>
            <xs:element name="Denominator_Of_Flattening_Ratio"  type="xs:decimal"   minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrbitParameters">
        <xs:sequence>
            <xs:element name="Swath_Width"              type="xs:decimal"/>
            <xs:element name="Period"                   type="xs:decimal"/>
            <xs:element name="Inclination_Angle"        type="xs:decimal"/>
            <xs:element name="Number_Of_Orbits"         type="xs:decimal"/>
            <xs:element name="Start_Circular_Latitude"  type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GPolygon">
        <xs:sequence>
            <xs:element name="Boundary"         type="Boundary"/>
            <xs:element name="Exclusive_Zone"   type="ExclusiveZone"    minOccurs="0"/>
            <xs:element name="Center_Point"     type="Point"            minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Point">
        <xs:sequence>
            <xs:element name="Point_Longitude"  type="Longitude"/>
            <xs:element name="Point_Latitude"   type="Latitude"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Latitude">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-90.0"/>
            <xs:maxInclusive value="90.0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Longitude">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-180.0"/>
            <xs:maxInclusive value="180.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Boundary">
        <xs:annotation>
            <xs:documentation>
                A boundary is set of points connected by straight lines representing a polygon on the earth. It takes a minimum of three points to make a boundary. Points must be specified in clockwise order.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Point" type="Point" minOccurs="3" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExclusiveZone">
        <xs:annotation>
            <xs:documentation>
                Contains a list of boundaries to exclude from some area.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Boundary" type="Boundary">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="Location">
        <xs:sequence>
            <xs:element name="Location_Category"        type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Location_Type"            type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Location_Subregion1"      type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Location_Subregion2"      type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Location_Subregion3"      type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Detailed_Location"        type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Data_Resolution">
        <xs:sequence>
            <xs:element name="Latitude_Resolution"          type="xs:string"                    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Longitude_Resolution"         type="xs:string"                    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Horizontal_Resolution_Range"  type="Horizontal_Resolution_Range"  minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vertical_Resolution"          type="xs:string"                    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Vertical_Resolution_Range"    type="Vertical_Resolution_Range"    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Temporal_Resolution"          type="xs:string"                    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Temporal_Resolution_Range"    type="Temporal_Resolution_Range"    minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Horizontal_Resolution_Range">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="uuid" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Vertical_Resolution_Range">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="uuid" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Temporal_Resolution_Range">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="uuid" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Project">
        <xs:sequence>
            <xs:element name="Short_Name"   type="xs:string"    minOccurs="1" maxOccurs="1"/>
            <xs:element name="Campaign"     type="xs:string"    minOccurs="1" maxOccurs="1"/>
            <xs:element name="Long_Name"    type="xs:string"    minOccurs="0" maxOccurs="1"/>
            <xs:element name="Start_Date"   type="xs:date"      minOccurs="0" maxOccurs="1"/>
            <xs:element name="End_Date"     type="xs:date"      minOccurs="0" maxOccurs="1"/>

        </xs:sequence>
        <xs:attribute type="xs:string" name="uuid"/>
    </xs:complexType>

    <xs:simpleType name="Quality">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Access_Constraints">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Use_Constraints">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Data_Set_Language">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Originating_Center">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <!-- tr: {"from":"Data_Center", "to":"Organization"} -->
    <xs:complexType name="Organization">
        <xs:annotation>
            <xs:documentation>Was Data_Center in the DIF</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Organization_Type"    type="xs:string"            minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Organization_Name"    type="Organization_Name"    minOccurs="1" maxOccurs="1"/>
            <xs:element name="Hours_Of_Service"     type="xs:string"            minOccurs="1" maxOccurs="1"/>
            <xs:element name="Instructions"         type="xs:string"            minOccurs="1" maxOccurs="1"/>
            <xs:element name="Organization_URL"     type="xs:string"            minOccurs="0" maxOccurs="1"/>
            <xs:element name="Data_Set_ID"          type="xs:string"            minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Personnel"            type="OrgPersonnel"            minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Organization_Name">
        <xs:sequence>
            <xs:element name="Short_Name"   type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Long_Name"    type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="uuid"/>
    </xs:complexType>

    <xs:complexType name="Distribution">
        <xs:sequence>
            <xs:element name="Distribution_Media"   type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Distribution_Size"    type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Distribution_Format"  type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fees"                 type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Multimedia_Sample">
        <xs:sequence>
            <xs:element name="File"         type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="URL"          type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Format"       type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Caption"      type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Description"  type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType mixed="true" name="Reference">
        <xs:sequence>
            <xs:element name="Author"                   type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Publication_Date"         type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Title"                    type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Series"                   type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Edition"                  type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Volume"                   type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Issue"                    type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Report_Number"            type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Publication_Place"        type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Publisher"                type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Pages"                    type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ISBN"                     type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DOI"                      type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Online_Resource"          type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Other_Reference_Details"  type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType mixed="true" name="Summary">
        <xs:sequence>
            <xs:element name="Abstract" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Purpose"  type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Related_URL">
        <xs:sequence>
            <xs:element name="URL_Content_Type" type="URL_Content_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Protocol"         type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="URL"              type="xs:string"        minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Title"            type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="Description"      type="xs:string"        minOccurs="0" maxOccurs="1"/>
            <xs:element name="MimeType"         type="xs:string"        minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="URL_Content_Type">
        <xs:sequence>
            <xs:element name="Type"     type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Subtype"  type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="uuid"/>
    </xs:complexType>

    <xs:simpleType name="Parent_DIF">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="MetadataAssociation">
        <xs:sequence>
            <xs:element name="EntryId"      type="xs:string"/>
            <xs:element name="Type"         type="xs:string"/>
            <xs:element name="Description"  type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="IDN_Node">
        <xs:sequence>
            <xs:element name="Short_Name"   type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Long_Name"    type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="uuid"/>
    </xs:complexType>

    <xs:complexType name="Extended_Metadata">
        <xs:sequence>
            <xs:element name="Metadata" type="Metadata" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Metadata">
        <xs:sequence>
            <xs:element name="Group"        type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Name"         type="xs:string"                minOccurs="1" maxOccurs="1"/>
            <xs:element name="Description"  type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Type"         type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Update_Date"  type="xs:string"                minOccurs="0" maxOccurs="1"/>
            <xs:element name="Value"        type="ExtendedMetadataValue"    minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExtendedMetadataValue">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ProductSpecificAttribute">
        <xs:sequence>
            <xs:element name="Name"                     type="xs:string"/>
            <xs:element name="DataType"                 type="xs:string"/>
            <xs:element name="Description"              type="xs:string"/>
            <xs:element name="MeasurementResolution"    type="xs:string" minOccurs="0" />
            <xs:element name="ParameterRangeBegin"      type="xs:string"/>
            <xs:element name="ParameterRangeEnd"        type="xs:string" minOccurs="0" />
            <xs:element name="ParameterUnitsOfMeasure"  type="xs:string" minOccurs="0" />
            <xs:element name="ParameterValueAccuracy"   type="xs:string" minOccurs="0" />
            <xs:element name="ValueAccuracyExplanation" type="xs:string" minOccurs="0" />
            <xs:element name="Value"                    type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="ProductLevelId">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Originating_Metadata_Node">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Metadata_Name">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Metadata_Version">
        <xs:restriction base="MetadataVersionEnum"/>
    </xs:simpleType>

    <xs:simpleType name="DIF_Creation_Date">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Last_DIF_Revision_Date">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="DIF_Revision_History">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="Future_DIF_Review_Date">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="DataProviderTimestamps">
        <xs:sequence>
            <xs:element name="insertTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            <xs:element name="updateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            <xs:element name="deleteTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Private">
        <xs:restriction base="PrivateEnum"/>
    </xs:simpleType>

</xs:schema>
