xsd/dif10/UmmCommon_1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/"
    >

    <!-- *********************************************************** -->
    <!-- #mark Displayable Text Enum -->
    
    <xs:simpleType name="GranuleSpatialRepresentationEnum">
        <xs:annotation>
            <xs:documentation>
                Example usage:
                * /DIF/Spatial_Coverage/Granule_Spatial_Representation
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARTESIAN"/>
            <xs:enumeration value="GEODETIC"/>
            <xs:enumeration value="ORBIT"/>
            <xs:enumeration value="NO_SPATIAL"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- *********************************************************** -->
    <!-- #mark Coordinate System Enum -->

    <xs:simpleType name="CoordinateSystemEnum">
        <xs:annotation>
            <xs:documentation>
                Example Usage:
                * /DIF/Spatial_Coverage/Geometry/Coordinate_System
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARTESIAN"/>
            <xs:enumeration value="GEODETIC"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- *********************************************************** -->
    <!-- #mark Organization Personnel Role Enum -->

    <xs:simpleType name="OrganizationPersonnelRoleEnum">
        <xs:annotation>
            <xs:documentation>
                Example Usage:
                * /DIF/Personnel/Contact_Person/Role
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA CENTER CONTACT"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- *********************************************************** -->
    <!-- #mark Organization Type Enum -->

    <xs:simpleType name="OrganizationTypeEnum">
        <xs:annotation>
            <xs:documentation>
                Example Usage:
                * /DIF/Organization/Organization_Type
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:string">
            <xs:enumeration value="DISTRIBUTOR"/>
            <xs:enumeration value="ARCHIVER"/>
            <xs:enumeration value="ORIGINATOR"/>
            <xs:enumeration value="PROCESSOR"/>
        </xs:restriction>
    </xs:simpleType>


<!--
These types need to either by made into enums above or the data changed

"Archive",
"archiving data center",
"internal data center",

"User Services",
"GHRC USER SERVICES",
"Producer",
"Data Manager",
"Data Originator",
"Archiver",
"compiler",
"Distributor",
-->

    <!-- *********************************************************** -->
    <!-- #mark Personnel Rule Enum -->
    
    <xs:simpleType name="PersonnelRoleEnum">
        <xs:annotation>
            <xs:documentation>
                Example Usage:
                * /DIF/Personnel/Role
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVESTIGATOR"/>
            <xs:enumeration value="INVESTIGATOR, TECHNICAL CONTACT"/>
            <xs:enumeration value="METADATA AUTHOR"/>
            <xs:enumeration value="METADATA AUTHOR, TECHNICAL CONTACT"/>
            <xs:enumeration value="TECHNICAL CONTACT"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- *********************************************************** -->
    <!-- #mark Dataset Language Enum -->
    
    <!-- todo: review along side of ISO 639 -->
    <xs:simpleType name="DatasetLanguageEnum">
        <xs:annotation>
            <xs:documentation>
                
                Example Usage:
                * /DIF/Dataset_Language
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="English"/>
            <xs:enumeration value="Afrikaans"/>
            <xs:enumeration value="Arabic"/>
            <xs:enumeration value="Bosnian"/>
            <xs:enumeration value="Bulgarian"/>
            <xs:enumeration value="Chinese"/>
            <xs:enumeration value="Croatian"/>
            <xs:enumeration value="Czech"/>
            <xs:enumeration value="Danish"/>
            <xs:enumeration value="Dutch"/>
            <xs:enumeration value="Estonian"/>
            <xs:enumeration value="Finnish"/>
            <xs:enumeration value="French"/>
            <xs:enumeration value="German"/>
            <xs:enumeration value="Hebrew"/>
            <xs:enumeration value="Hungarian"/>
            <xs:enumeration value="Indonesian"/>
            <xs:enumeration value="Italian"/>
            <xs:enumeration value="Japanese"/>
            <xs:enumeration value="Korean"/>
            <xs:enumeration value="Latvian"/>
            <xs:enumeration value="Lithuanian"/>
            <xs:enumeration value="Norwegian"/>
            <xs:enumeration value="Polish"/>
            <xs:enumeration value="Portuguese"/>
            <xs:enumeration value="Romanian"/>
            <xs:enumeration value="Russian"/>
            <xs:enumeration value="Slovak"/>
            <xs:enumeration value="Spanish"/>
            <xs:enumeration value="Ukrainian"/>
            <xs:enumeration value="Vietnamese"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- *********************************************************** -->
    <!-- #mark Collection Data Type Enum -->
    
    <xs:simpleType name="CollectionDataTypeEnum">
        <xs:annotation>
            <xs:documentation>
                * /DIF/Collection_DataType
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:string">
            <xs:enumeration value="SCIENCE_QUALITY"/>
            <xs:enumeration value="NEAR_REAL_TIME"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- *********************************************************** -->
    <!-- #mark Product Flag Enum -->
        
    <xs:simpleType name="ProductFlagEnum">
        <xs:annotation>
            <xs:documentation>
                Example usage:
                * /DIF/Product_Flag
            </xs:documentation>
        </xs:annotation>
        
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA_PRODUCT_FILE"/>
            <xs:enumeration value="INSTRUMENT_ANCILLARY_FILE"/>
            <xs:enumeration value="SYSTEM/SPACECRAFT_FILE"/>
            <xs:enumeration value="EXTERNAL_DATA"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- *********************************************************** -->
    <!-- #mark Duration Unit Enum -->
        
    <xs:simpleType name="DurationUnitEnum">
        <xs:annotation>
            <xs:documentation>
                This entity indicates the periodic duration units.
                
                Example usage:
                * /DIF/Temporal_Coverage/Periodic_DateTime/Duration_Unit
                * /DIF/Temporal_Coverage/Periodic_DateTime/Period_Cycle_Duration_Unit
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAY"/>
            <xs:enumeration value="MONTH"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- *********************************************************** -->
    <!-- #mark Spatial Coverage Type Enum -->
        
    <xs:simpleType name="SpatialCoverageTypeEnum">
        <xs:annotation>
            <xs:documentation>
                metadata may be in upper case for horizontals and camel case for the others, use an adapter to normalize these.
                
                Example usage:
                * /DIF/Spatial_Coverage/Spatial_Coverage_Type
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Horizontal"/>
            <xs:enumeration value="HorizontalVertical"/>
            <xs:enumeration value="Orbit"/>
            <xs:enumeration value="Vertical"/>
            <xs:enumeration value="Horizon&amp;Vert"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- *********************************************************** -->
    <!-- #mark Phone Type Enum -->
        
    <xs:simpleType name="PhoneTypeEnum">
        <xs:annotation>
            <xs:documentation>
                Phone types for people
                Example Usage:
                * /DIF/Personnel/Contact_Person/Phone/Type
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Direct Line"/>
            <xs:enumeration value="Primary"/>
            <xs:enumeration value="Telephone"/>
            <xs:enumeration value="Fax"/>
            <xs:enumeration value="Mobile"/>
            <xs:enumeration value="Modem"/>
            <xs:enumeration value="TDD/TTY Phone"/>
            <xs:enumeration value="U.S. toll free"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- *********************************************************** -->
    <!-- #mark Private Enum -->
        
    <xs:simpleType name="PrivateEnum">
        <xs:annotation>
            <xs:documentation>
                Values:
                * True:=Private
                * False:=Public
                
                Example Usage
                * /DIF/Private
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="True"/>
            <xs:enumeration value="False"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- *********************************************************** -->
    <!-- #mark Metadata Version Enum -->
        
    <xs:simpleType name="MetadataVersionEnum">
        <xs:annotation>
            <xs:documentation>
                The version of the DIF metadata format currently support by software
                
                Example Usage:
                * /DIF/Metaadata_Version
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <!--xs:enumeration value="9.0"/-->
            <!--xs:enumeration value="9.7"/-->
            <!--xs:enumeration value="9.8.4"/-->
            <!--xs:enumeration value="VERSION 9.0"/-->
            <!--xs:enumeration value="VERSION 9.7"/-->
            <!--xs:enumeration value="VERSION 9.7.1"/-->
            <xs:enumeration value="VERSION 9.8.1"/>
            <xs:enumeration value="VERSION 9.8.2"/>
            <xs:enumeration value="VERSION 9.8.2.2"/>
            <xs:enumeration value="VERSION 9.8.3"/>
            <xs:enumeration value="VERSION 9.8.4"/>
            <xs:enumeration value="VERSION 9.9.3"/>
            <xs:enumeration value="VERSION 10.0c"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- *********************************************************** -->
    <!-- #mark Dataset Progress Enum -->

    <xs:simpleType name="DatasetProgressEnum">
        <xs:annotation>
            <xs:documentation>
                Example Usage:
                * /DIF/Dataset_Progress
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLANNED"/>
            <xs:enumeration value="IN WORK"/>
            <xs:enumeration value="COMPLETE"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- *********************************************************** -->
    <!-- #mark Displayable Text Enum -->

    <xs:simpleType name="DisplayableTextEnum">
        <xs:annotation>
            <xs:documentation>
                Some fields support formated text, the mime types supported by
                the UMM are listed by this enumeration. All fields using this
                type can have new line text
                
                Example of fields that use this enumeration
                * DIF/Summary/Abstract
                * DIF/Summary/Purpose
                * DIF/Related_URL/URL/Description
                * DIF/Quality
                * DIF/Use_Constraints
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="text/plain"/>
            <!-- not approved at this time -->
            <!--xs:enumeration value="text/html"/-->
            <xs:enumeration value="text/markdown"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DisplayableTextTypeBaseType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <!--xs:complexType name="DisplayableTextType">
        <xs:simpleContent>
            <xs:extension base="DisplayableTextTypeBaseType">
                <xs:attribute type="DisplayableTextEnum" name="mime_type" default="text/plain"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType-->
    
    <xs:simpleType name="PersistentIdentifierEnum">
        <xs:annotation>
            <xs:documentation>
                Used to store either a DOI or an ARK identifier.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOI"/>
            <xs:enumeration value="ARK"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>