xsd/mmd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.met.no/schema/mmd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xmlns:mmd="http://www.met.no/schema/mmd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>
    <!--Enumerations are fetched from mmd-vocabulary and the xsd file enum_mmd.xsd is created automatically running the
    create_enum.py script-->
    <xs:include schemaLocation="enum_mmd.xsd"/>
    <xs:element name="mmd" type="mmd:mmd_type"/>
    <xs:complexType name="mmd_type">
        <xs:sequence>
            <xs:element name="metadata_identifier"        type="xs:string"                          maxOccurs="1"         minOccurs="1"/>
            <xs:element name="alternate_identifier"       type="mmd:alternate_identifier_type"      maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="title"                      type="mmd:multilang_string"               maxOccurs="unbounded" minOccurs="1"/>
            <xs:element name="abstract"                   type="mmd:multilang_string"               maxOccurs="unbounded" minOccurs="1"/>
            <xs:element name="metadata_status"            type="xs:string"                          maxOccurs="1"         minOccurs="1"/>
            <xs:element name="dataset_production_status"  type="mmd:dataset_production_status_enum" maxOccurs="1"         minOccurs="1"/>
            <xs:element name="collection"                 type="mmd:collection_keywords_enum"       maxOccurs="unbounded" minOccurs="1"/>
            <xs:element name="last_metadata_update"       type="mmd:last_metadata_update_type"      maxOccurs="1"         minOccurs="1"/>
            <xs:element name="temporal_extent"            type="mmd:temporal_extent_type"           maxOccurs="1"         minOccurs="0"/>
            <xs:element name="iso_topic_category"         type="mmd:iso_topic_category_enum"        maxOccurs="unbounded" minOccurs="1"/>
            <xs:element name="keywords"                   type="mmd:keywords_type"                  maxOccurs="unbounded" minOccurs="1"/>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="operational_status"     type="mmd:operational_status_enum"        maxOccurs="1"         minOccurs="0"/>
                <xs:element name="dataset_language"       type="xs:string"                          maxOccurs="1"         minOccurs="0" default="en"/>
                <xs:element name="geographic_extent"      type="mmd:geographic_extent_type"         maxOccurs="1"         minOccurs="1"/>
                <xs:element name="access_constraint"      type="xs:string"                          maxOccurs="1"         minOccurs="0"/> <!--This should be controlled-->
                <xs:element name="use_constraint"         type="mmd:use_constraint_type"            maxOccurs="1"         minOccurs="0"/>
                <xs:element name="project"                type="mmd:project_type"                   maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="activity_type"          type="xs:string"                          maxOccurs="unbounded" minOccurs="0"/> <!--This should be controlled-->
                <xs:element name="platform"               type="mmd:platform_type"                  maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="spatial_representation" type="mmd:spatial_representation_enum"    maxOccurs="1"         minOccurs="0"/>
                <xs:element name="related_information"    type="mmd:related_information_type"       maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="personnel"              type="mmd:personnel_type"                 maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="dataset_citation"       type="mmd:dataset_citation_type"          maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="quality_control"        type="mmd:quality_control_enum"           maxOccurs="1"         minOccurs="0"/>
                <xs:element name="data_access"            type="mmd:data_access_type"               maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="data_center"            type="mmd:data_center_type"               maxOccurs="1"         minOccurs="0"/>
                <xs:element name="related_dataset"        type="mmd:related_dataset_type"           maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="storage_information"    type="mmd:storage_information_type"       maxOccurs="1"         minOccurs="0"/>
                <xs:element name="metadata_source"        type="mmd:metadata_source_enum"           maxOccurs="1"         minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="alternate_identifier_type">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="multilang_string">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref='xml:lang'/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="last_metadata_update_type">
        <xs:sequence>
            <xs:element name="update" type="mmd:last_metadata_update_update_type" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="last_metadata_update_update_type">
        <xs:all>
            <xs:element name="datetime" type="xs:dateTime"     maxOccurs="1" minOccurs="1"/>
            <xs:element name="type"     type="mmd:type_update" maxOccurs="1" minOccurs="1"/>
            <xs:element name="note"     type="xs:string"       maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="type_update">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Created"/>
            <xs:enumeration value="Minor modification"/>
            <xs:enumeration value="Major modification"/>
            <xs:enumeration value="Original record"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="temporal_extent_type">
        <xs:sequence>
            <xs:element name="start_date" type="xs:dateTime" maxOccurs="1" minOccurs="1"/>
            <xs:element name="end_date"   type="xs:dateTime" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="keywords_type">
        <xs:sequence>
            <xs:element name="keyword"   type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="resource"  type="xs:string" maxOccurs="1"         minOccurs="0"/>
            <xs:element name="separator" type="xs:string" maxOccurs="1"         minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="vocabulary" type="mmd:keywords_vocabulary_enum"/>
    </xs:complexType>
    <xs:complexType name="geographic_extent_type">
        <xs:all>
            <xs:element name="rectangle" type="mmd:geographic_rectangle_type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="polygon"   type="mmd:geographic_polygon_type"   maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="geographic_rectangle_type">
        <xs:all>
            <xs:element name="north" type="xs:double" maxOccurs="1" minOccurs="1"/>
            <xs:element name="south" type="xs:double" maxOccurs="1" minOccurs="1"/>
            <xs:element name="east"  type="xs:double" maxOccurs="1" minOccurs="1"/>
            <xs:element name="west"  type="xs:double" maxOccurs="1" minOccurs="1"/>
        </xs:all>
        <xs:attribute name="srsName" type="xs:string" default="EPSG:4326"/>
    </xs:complexType>
    <xs:complexType name="geographic_polygon_type">
        <xs:annotation>
            <xs:documentation>This allows gml:polygon to be addedd</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="use_constraint_type">
        <xs:choice>
            <xs:sequence>
                <xs:element name="identifier" type="mmd:use_constraint_identifier_enum" maxOccurs="1" minOccurs="1"/>
                <xs:element name="resource"   type="mmd:use_constraint_resource_enum"   maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
            <xs:element name="license_text" type="xs:string" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>This element holds the a free-text non formal license. If used identifier and resource should be left empty.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="project_type">
        <xs:all>
            <xs:element name="short_name" type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="long_name"  type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="platform_type">
        <xs:all>
            <xs:element name="short_name"      type="xs:string"                   maxOccurs="1" minOccurs="1"/>
            <xs:element name="long_name"       type="xs:string"                   maxOccurs="1" minOccurs="1"/>
            <xs:element name="resource"        type="xs:string"                   maxOccurs="1" minOccurs="0"/>
            <xs:element name="orbit_relative"  type="xs:integer"                  maxOccurs="1" minOccurs="0"/>
            <xs:element name="orbit_absolute"  type="xs:integer"                  maxOccurs="1" minOccurs="0"/>
            <xs:element name="orbit_direction" type="mmd:orbit_direction_type"    maxOccurs="1" minOccurs="0"/>
            <xs:element name="instrument"      type="mmd:instrument_type"         maxOccurs="1" minOccurs="0"/>
            <xs:element name="ancillary"       type="mmd:ancillary_platform_type" maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="orbit_direction_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ascending"/>
            <xs:enumeration value="descending"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="instrument_type">
        <xs:all>
            <xs:element name="short_name"   type="xs:string"                   maxOccurs="1" minOccurs="1"/>
            <xs:element name="long_name"    type="xs:string"                   maxOccurs="1" minOccurs="1"/>
            <xs:element name="resource"     type="xs:string"                   maxOccurs="1" minOccurs="0"/>
            <xs:element name="mode"         type="mmd:instrument_modes_enum"   maxOccurs="1" minOccurs="0"/>
            <xs:element name="polarisation" type="mmd:polarisation_modes_enum" maxOccurs="1" minOccurs="0"/>
            <xs:element name="product_type" type="mmd:product_types_enum"      maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ancillary_platform_type">
        <xs:all>
            <xs:element name="cloud_coverage" type="xs:decimal"          maxOccurs="1" minOccurs="0"/>
            <xs:element name="scene_coverage" type="xs:decimal"          maxOccurs="1" minOccurs="0"/>
            <xs:element name="timeliness"     type="mmd:timeliness_type" maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="timeliness_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NRT"/>
            <xs:enumeration value="NTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="related_information_type">
        <xs:all>
            <xs:element name="type"        type="mmd:related_information_types_enum" maxOccurs="1" minOccurs="1"/>
            <xs:element name="description" type="xs:string"                          maxOccurs="1" minOccurs="1"/>
            <xs:element name="resource"    type="xs:string"                          maxOccurs="1" minOccurs="1"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="personnel_type">
        <xs:all>
            <xs:element name="role"            type="mmd:contact_roles_enum"  maxOccurs="1" minOccurs="1"/>
            <xs:element name="type"            type="mmd:contact_types_enum"  maxOccurs="1" minOccurs="0"/>
            <xs:element name="name"            type="mmd:name_uri"            maxOccurs="1" minOccurs="1"/>
            <xs:element name="organisation"    type="mmd:organisation_uri"    maxOccurs="1" minOccurs="0"/>
            <xs:element name="email"           type="xs:string"               maxOccurs="1" minOccurs="1"/>
            <xs:element name="phone"           type="xs:string"               maxOccurs="1" minOccurs="0"/>
            <xs:element name="contact_address" type="mmd:contact_address"     maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="name_uri">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="uri" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:anyURI">
                <xs:pattern value="https?://(orcid.org/|ror.org/).+"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="organisation_uri">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="uri" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:anyURI">
                <xs:pattern value="https?://ror.org/.+"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="contact_address">
        <xs:all>
            <xs:element name="address"           type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="city"              type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="province_or_state" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="postal_code"       type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="country"           type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="dataset_citation_type">
        <xs:all>
            <xs:element name="author"            type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="title"             type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="publisher"         type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="publication_date"  type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="publication_place" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="series"            type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="edition"           type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="volume"            type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="issue"             type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="pages"             type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="isbn"              type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="doi"               type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="url"               type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="other"             type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="data_access_type">
        <xs:all>
            <xs:element name="name"        type="xs:string"                  maxOccurs="1" minOccurs="0"/>
            <xs:element name="type"        type="mmd:data_access_types_enum" maxOccurs="1" minOccurs="1"/>
            <xs:element name="description" type="xs:string"                  maxOccurs="1" minOccurs="0"/>
            <xs:element name="resource"    type="xs:string"                  maxOccurs="1" minOccurs="1"/>
            <xs:element name="wms_layers"  type="mmd:wms_layers_type"        maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="wms_layers_type">
        <xs:sequence>
            <xs:element name="wms_layer" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="data_center_type">
        <xs:all>
            <xs:element name="data_center_name" type="mmd:data_center_name_type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="data_center_url"  type="xs:string"                 maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="data_center_name_type">
        <xs:all>
            <xs:element name="short_name" type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="long_name"  type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="related_dataset_type">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="relation_type" use="required" type="mmd:related_dataset_relationship_type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="related_dataset_relationship_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auxiliary"/>
            <xs:enumeration value="parent"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="storage_information_type">
        <xs:all>
            <xs:element name="file_name"     type="xs:string"          maxOccurs="1" minOccurs="0"/>
            <xs:element name="file_location" type="xs:string"          maxOccurs="1" minOccurs="0"/>
            <xs:element name="file_format"   type="xs:string"          maxOccurs="1" minOccurs="0"/>
            <xs:element name="file_size"     type="mmd:value_size"     maxOccurs="1" minOccurs="0"/>
            <xs:element name="checksum"      type="mmd:value_checksum" maxOccurs="1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="value_size">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="unit" type="xs:string" default="GB"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="value_checksum">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="mmd:checksum_type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="checksum_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="md5sum"/>
            <xs:enumeration value="sha256sum"/>
            <xs:enumeration value="sha384sum"/>
            <xs:enumeration value="sha512sum"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
